* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    color: #333;
    margin: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0 0 14px;
    font-size: 22px;
    font-weight: 700;
}

table {
    width: 92%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #d9d9d9
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: blue;
    color: white;
    text-transform: uppercase;
}

td img {
    width: 100px;
    border-radius: 6px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e3f2fd;
}