<head><meta charset="UTF-8"><title>PrintScreens Summary</title><style>.title {
    text-align: center;
}

body {
    font-family: Arial;
    text-align: center;
    padding: 20px;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
}

th {
    background: #f0f0f0;
    font-size: 18px;
}

img {
    width: 420px;
    border-radius: 6px;
}

a {
    color: blue;
}

</style></head>